/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: whitesmoke;

  background:
    linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
    #020617;

  background-size: 14px 24px;
}

a {
  text-decoration: none;
  color: rgb(140, 135, 135);
}

img {
  max-width: 100%;
  display: block;
}

.highlight {
  color: rgb(47, 32, 213);
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

.topnav {
  position: sticky;
  top: 20px;
  z-index: 100;

  .topnav__wrapper {
    position: sticky;
    top: 16px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block-start: 40px;

    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.35),
      inset 0 0 0 1px rgba(255, 255, 255, 0.03);

    z-index: 100;
  }
  .topnav__home_container {
    display: flex;
    flex-direction: column;
  }
  .topnav__logo {
    font-size: 1.4rem;
    color: rgb(47, 32, 213);
  }
  .topnav__text {
    font-size: 0.6rem;
    color: rgb(140, 135, 135);
  }
  .topnav__links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  .topnav__item {
  }
  .topnav__link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-block: 70px;

  .hero__tag {
    background: rgba(255, 255, 255, 0.06);
    padding: 14px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .hero__tag h2 {
    font-size: 0.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .hero__title {
    font-size: calc(134 / 16 * 1rem);
    font-weight: 700;
  }

  .hero__title span {
    display: block;
  }

  .hero__para {
    line-height: 1.5rem;
    color: rgb(140, 135, 135);
    font-family: monospace;
    font-size: 1rem;
  }
}

.about__section {
  margin-block: 50px;
}

.about__wrapper {
  width: calc(100% - 180px);
  margin-inline: auto;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;

  .about__block_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about__tag {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .about__tag img {
    width: 12px;
    height: auto;
    object-fit: contain;
    background: transparent;
  }

  .about__tag span {
    font-size: calc(12 / 16 * 1rem);
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgb(135, 135, 140);
  }

  .about__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
    align-items: left;
    text-align: left;

    .about__details_heading span {
      display: block;
    }

    .about__details_heading {
      /* display: block; */
      font-size: calc(72 / 16 * 1rem);
      font-weight: 700;
      letter-spacing: -1.8px;
      line-height: 72px;
    }

    .about__details_role {
      font-size: calc(48 / 16 * 1rem);
      font-weight: 700;
      color: rgb(138, 88, 255);
      letter-spacing: -1.8px;
      line-height: 48px;
    }

    .about__details_location {
      font-size: calc(24 / 16 * 1rem);
      font-weight: 400;
      color: rgb(135, 135, 140);
      letter-spacing: normal;
      line-height: 32px;
    }

    .about__details_para1 {
      font-family: monospace;
      font-size: calc(16 / 16 * 1rem);
      line-height: 24px;
      color: rgb(229, 229, 229);
      margin-block-start: 10px;
    }
    .about__details_para2 {
      font-family: monospace;
      font-size: calc(14 / 16 * 1rem);
      color: rgb(135, 135, 140);
      line-height: 22.75px;
    }

    .about__details_image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
