/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: whitesmoke;

  background:
    linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
    #020617;

  background-size: 14px 24px;
}

a {
  text-decoration: none;
  color: rgb(140, 135, 135);
}

img {
  max-width: 100%;
  display: block;
}
.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

.topnav {
  position: sticky;
  top: 20px;
  z-index: 100;

  .topnav__wrapper {
    position: sticky;
    top: 16px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-block: 20px;
    padding-inline: 30px; */

    margin-block-start: 40px;

    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.35),
      inset 0 0 0 1px rgba(255, 255, 255, 0.03);

    z-index: 100;
  }
  .topnav__home_container {
    display: flex;
    flex-direction: column;
  }
  .topnav__logo {
    font-size: 1.4rem;
  }
  .topnav__text {
    font-size: 0.6rem;
    color: grey;
  }
  .topnav__links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  .topnav__item {
  }
  .topnav__link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-block: 70px;

  .hero__tag {
    background: rgba(255, 255, 255, 0.06);
    padding: 14px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .hero__tag h2 {
    font-size: 0.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .hero__title{
    font-size: calc(134 / 16 * 1rem);
    font-weight: 700;
  }

  .hero__title span{
    display:block;
  }

  .hero__para{
    line-height: 1.5rem;
     color: rgb(140, 135, 135);
     font-family: monospace;
     font-size: 1rem;
  }
}
